{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html' %}
{% block title %}S'inscrire{% endblock %}

{% block body %}
<div class="container">
    <h1>Veuillez entrer les information nécessaire</h1><br>
{{form_start(form)}}


{{form_widget(form.username,{'attr':{'placeholder':"Username"}})}}<br>
{{form_widget(form.email,{'attr':{'placeholder':"Email"}})}}<br>
{{form_widget(form.plainPassword.first,{'attr':{'placeholder':"Mot de passe"}})}}<br>
{{form_widget(form.plainPassword.second,{'attr':{'placeholder':"Comfirmer mot de passe"}})}}<br>
<button type="submit" class="btn btn-info">S'inscrire</button>
{{form_end(form)}}



</div>
{% endblock %}
